<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WIL_V1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <!-- Navbar items -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Main menu items -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; font-size:large; font-weight: bold">
                            <img src="~/images/menu2 - white.png" alt="Menu Icon" style="width: 35px; height: 35px; margin-right: 5px;" />
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background:white">
                            <a class="dropdown-item" href=" @Url.Action("Index", "Home")" style="color:black">Home</a>
                            <a class="dropdown-item" href="#" style="color:black">About Us</a>
                            <a class="dropdown-item" href="#" style="color:black">Donations</a>
                            <a class="dropdown-item" href="#" style="color:black">Location</a>
                            <a class="dropdown-item" href="#" style="color:black">Contact Us</a>
                            <a class="dropdown-item" href="#" style="color:black">Admin Dashboard</a>
                        </div>
                    </li>
                </ul>

                <!-- Login partial -->
                <div class="container d-flex justify-content-end" style="color:white">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-bottom footer text-muted" style="position: fixed absolute; width: 100%; text-align: center; visibility:hidden">
        <div class="container" style="color: white; font-weight: bold; visibility:visible">
            | Contact us : | <img src="~/images/phone_icon.png" /> +27 79 076 2234 <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <!-- Manually include Popper.js and Bootstrap's JavaScript files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>