@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}


<head>
    <title>Sign Up</title>
    <style>
        body {
            background-color: #f8f9fa;
            position: relative;
           
            color: white; /* Default text color */
        }
    </style>
    <script src="~/js/dynamictextcolor.js"></script>  <!-- Link to the JavaScript file -->
</head>

<body>
    <h1 class="header">
        <img src="~/images/ladybird-banner.png" class="centered-image" alt="Company Logo">
    </h1>

<div class="contrainer" >
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="">
                    <div class="">
                        <h2 class="text-center">@ViewData["Title"]</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-5 offset-md-1">
                            <div class="form-group">
                                <h4>
                                <label asp-for="Input.FirstName">First Name</label>
                                </h4>
                                <input asp-for="Input.FirstName" class="form-control" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <h4>
                                <label asp-for="Input.Surname">Last Name</label>
                                </h4>
                                <input asp-for="Input.Surname" class="form-control" />
                                <span asp-validation-for="Input.Surname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-5 offset-md-1">
                           
                                <div class="form-group">
                                    <h4>
                                    <label asp-for="Input.Email">Email</label>
                                </h4>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            <div class="form-group">
                                <h4>
                                <label asp-for="Input.Password">Password</label>
                                </h4>
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <h4>
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                </h4>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                           
                        </div>


                    </div>

                </div>
           
           
        </section>

 
            <div class="row">

                <!-- Centering the button horizontally -->
                <div class="form-group text-center">
                    <!-- Centering the button -->
                    <button id="registerSubmit" type="submit" class="register-button">Register</button>
                </div>

            </div>
            <div class="text-center">
                <small class="text-muted">Not an admin?</small><br>
                <!-- Back button -->
                <a href="@Url.Action("Register", "Account")" class="text-info">Click here to register</a>
            </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
